html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/*  SELECTION COLORS
----------------------------------------------------------------------------------------*/
::selection { background: #41413e; text-shadow: none; color: #bebec1; }

::-moz-selection { background: #41413e; text-shadow: none; color: #bebec1; }

img::selection { background: transparent; }

img::-moz-selection { background: transparent; }

body { -webkit-tap-highlight-color: rgba(131, 131, 131, 0.5); }

/*  TYPOGRAPHY
----------------------------------------------------------------------------------------*/
/* NOTE: Loading svg before ttf for better rendering in chrome for windows */
@font-face { font-family: 'intro caps'; src: url("/assets/font/Intro_Regular_Caps-webfont.eot"); src: url("/assets/font/Intro_Regular_Caps-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/font/Intro_Regular_Caps-webfont.svg#intro_regular_capsregular") format("svg"), url("/assets/font/Intro_Regular_Caps-webfont.woff") format("woff"), url("/assets/font/Intro_Regular_Caps-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased; }

@font-face { font-family: 'intro caps'; src: url("/assets/font/Intro_Bold_Caps-webfont.eot"); src: url("/assets/font/Intro_Bold_Caps-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/font/Intro_Bold_Caps-webfont.svg#intro_bold_capsregular") format("svg"), url("/assets/font/Intro_Bold_Caps-webfont.woff") format("woff"), url("/assets/font/Intro_Bold_Caps-webfont.ttf") format("truetype"); font-weight: bold; font-style: normal; -webkit-font-smoothing: antialiased; }

@font-face { font-family: 'intro caps'; src: url("/assets/font/Intro_Black_Caps-webfont.eot"); src: url("/assets/font/Intro_Black_Caps-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/font/Intro_Black_Caps-webfont.svg#intro_black_capsregular") format("svg"), url("/assets/font/Intro_Black_Caps-webfont.woff") format("woff"), url("/assets/font/Intro_Black_Caps-w febfont.ttf") format("truetype"); font-weight: 900; font-style: normal; -webkit-font-smoothing: antialiased; }

@font-face { font-family: 'icons'; src: url("/assets/font/icons.eot"); src: url("/assets/font/icons.eot?#iefix") format("embedded-opentype"), url("/assets/font/icons.woff") format("woff"), url("/assets/font/icons.ttf") format("truetype"), url("/assets/font/icons.svg#icons") format("svg"); font-weight: normal; font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before { font-family: 'icons'; content: attr(data-icon); speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }

* html { font-size: 100%; }

html { font-size: 16px; line-height: 1.5em; }

body { font-family: Georgia, serif; }

h1, h2, h3, h4, h5, h6, [class*="fauxh"] { font-family: 'intro caps', arial, sans-serif; text-transform: uppercase; font-weight: 700; }

h1, .fauxh1 { font-size: 2.625em; line-height: 1.14286em; }

h2, .fauxh2 { font-size: 2.25em; line-height: 1.33333em; }

small { font-size: 0.5625em; line-height: 2.66667em; }

code, pre { font-family: Monaco, 'Courier New', monospace; border-style: solid; border-width: 0.0625em; padding: 1.4375em; }

sup, sub { line-height: 0em; }

sup { vertical-align: super; }

sub { vertical-align: sub; }

i, em { font-style: italic; }

b, strong { font-weight: bold; }

ol, ul { padding-left: 1.8em; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/*  LINKS
----------------------------------------------------------------------------------------*/
a { color: #3f3f3f; text-decoration: none; }
a:hover, a:focus { color: #000; border-color: #000; }
a:active { color: #990000; }

/*  LAYOUT
----------------------------------------------------------------------------------------*/
/*  STYLING
----------------------------------------------------------------------------------------*/
body { background: #eae0db; color: #41413e; }

.btn, #specs ul li { font-family: "intro caps"; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; -ms-border-radius: 0.5em; -o-border-radius: 0.5em; border-radius: 0.5em; font-weight: 700; color: #eae0db; background: #9da0aa; line-height: 1em; padding: .6em .9em .43em; text-align: center; display: block; }

a.btn:hover, a.btn:focus { background: #41413e; }

#header { font-family: 'intro caps', arial, sans-serif; text-transform: uppercase; background: #b31707; color: #eae0db; position: relative; }
#header.poster { position: relative; display: table; width: 100%; overflow: hidden; }
#header.poster .constrainer { display: table-cell; vertical-align: middle; padding: 1em 2% .8em; font-size: 1.8em; line-height: 1.65em; letter-spacing: .1em; overflow: hidden; *zoom: 1; }
#header.poster .constrainer a { color: #eae0db; }
#header.poster .constrainer .nameplate { font-weight: 900; font-size: 1.8em; line-height: 1.2em; margin: 0 0 .4em; padding: 0 0 .2em; border-bottom: 8px solid #eae0db; }
#header.poster .constrainer .greeting { display: block; font-size: .6em; font-weight: 700; line-height: 1.6em; }
#header.poster .constrainer .group { display: block; }
@media (min-width: 960px) { #header.poster .constrainer .group { display: table; width: 100%; } }
#header.poster .constrainer .intro { display: block; vertical-align: top; max-width: 20em; }
@media (min-width: 960px) { #header.poster .constrainer .intro { display: table-cell; width: 20em; } }
#header.poster .constrainer .intro h1, #header.poster .constrainer .intro h2, #header.poster .constrainer .intro p { font-size: 1em; line-height: 1em; font-weight: normal; display: inline; }
#header.poster .constrainer .intro h1, #header.poster .constrainer .intro h2 { font-weight: normal; }
#header.poster .constrainer .cta { vertical-align: middle; display: block; text-align: center; }
@media (min-width: 960px) { #header.poster .constrainer .cta { display: table-cell; text-align: right; } }
#header.poster .constrainer .btn, #header.poster .constrainer #specs ul li, #specs ul #header.poster .constrainer li { border: 4px solid #eae0db; background: transparent; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; -ms-border-radius: 0.5em; -o-border-radius: 0.5em; border-radius: 0.5em; font-size: 1em; display: inline-block; font-weight: normal; margin: 1em 2%; float: none; }
@media (min-width: 960px) { #header.poster .constrainer .btn, #header.poster .constrainer #specs ul li, #specs ul #header.poster .constrainer li { display: block; float: right; margin: 0; } }
#header.poster .constrainer .btn:hover, #header.poster .constrainer #specs ul li:hover, #specs ul #header.poster .constrainer li:hover, #header.poster .constrainer .btn:focus, #header.poster .constrainer #specs ul li:focus, #specs ul #header.poster .constrainer li:focus { background: #9da0aa; }
#header .scroll { color: #eae0db; font-weight: 900; font-size: 2em; line-height: .4em; position: absolute; left: 50%; bottom: 1em; text-align: center; font-family: arial; font-weight: bold; display: block; margin-left: -2em; width: 4em; padding: 0; }

body > div { padding: 4em 0; }

body > div > section { margin: 0 auto; padding: 0 4%; }

#headlines { margin: 0 4%; border-bottom: 2px solid #b31707; }

#headlines section { font-size: 2.625em; line-height: 1.14286em; text-align: center; }
#headlines section .hashtag { display: block; }
#headlines section img { display: none; }
#headlines section a { font-family: "intro caps"; font-size: .5em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; -ms-border-radius: 0.5em; -o-border-radius: 0.5em; border-radius: 0.5em; font-weight: 700; color: #eae0db; background: #9da0aa; padding: .6em .9em .45em; }
#headlines section a .symbol { vertical-align: .075em; }
#headlines section a:hover, #headlines section a:focus { background: #41413e; }

#features section ul { padding: 0; margin: 0; display: table; width: 100%; }
#features section ul li { text-align: center; margin-left: 4%; width: 33%; display: table-cell; padding: .5em; }
#features section .icon { background: #b31707; font-size: 5.6em; -webkit-border-radius: 1.25em; -moz-border-radius: 1.25em; -ms-border-radius: 1.25em; -o-border-radius: 1.25em; border-radius: 1.25em; width: 2em; height: 2em; margin: .5em auto; text-align: center; color: #eae0db; line-height: 2.16em; }
#features section h2 { white-space: nowrap; }
#features section p { font-size: 1.125em; line-height: 1.33333em; }

#specs { background: #9da0aa; color: #eae0db; padding: 2em 0; overflow: hidden; *zoom: 1; }
#specs section { display: -webkit-flex; display: flex; }
#specs h1 { text-align: right; width: 40%; float: left; padding-top: .5em; }
#specs .group { float: right; width: 50%; border-left: 8px solid #eae0db; padding: .5em 0 2% 4%; margin-left: 4%; }
#specs h2 { color: #41413e; font-size: 1em; line-height: 1.5em; font-weight: normal; }
#specs ul { margin: 0; padding: 0; text-indent: 0; overflow: hidden; *zoom: 1; }
#specs ul li { float: left; background: #eae0db; color: #41413e; margin: 0 2% 1em 0; }
#specs ul li:last-child { margin-right: 0; }

/*  MEDIA QUERIES
----------------------------------------------------------------------------------------*/
/*  Wide Screens  */
/*  Tablets Portrait  */
/*  Phone Landscape  */
/*  Phone Portrait 400px or less  */
/*  PRINT STYLES
----------------------------------------------------------------------------------------*/
@media print { * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  /*  Don't show links for images, or javascript/internal links  */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
