//  IMPORTS
//----------------------------------------------------------------------------------------

@import "base";


//  GRID SETUP
//----------------------------------------------------------------------------------------

// $total-columns  : 12;
// $column-width   : 60px;
// $gutter-width   : 20px;
// $grid-padding   : $gutter-width;

// $show-grid-backgrounds  : true;


//  COLORS
//----------------------------------------------------------------------------------------

$myred: #b31707;
$accent: #9da0aa;
$baseblack: #41413e;
$basewhite: #eae0db;

$background: $basewhite;

/*  SELECTION COLORS
----------------------------------------------------------------------------------------*/

$selection-color: $baseblack;
$selection-text: invert($selection-color);
::selection {
    background: $selection-color;
    text-shadow: none;
    color: $selection-text;
}
::-moz-selection {
    background: $selection-color;
    text-shadow: none;
    color: $selection-text;
}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgba(131, 131, 131, 0.5);}


/*  TYPOGRAPHY
----------------------------------------------------------------------------------------*/
/* NOTE: Loading svg before ttf for better rendering in chrome for windows */
@font-face {
    font-family: 'intro caps';
    src: url('/assets/font/Intro_Regular_Caps-webfont.eot');
    src: url('/assets/font/Intro_Regular_Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/Intro_Regular_Caps-webfont.svg#intro_regular_capsregular') format('svg'),
         url('/assets/font/Intro_Regular_Caps-webfont.woff') format('woff'),
         url('/assets/font/Intro_Regular_Caps-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'intro caps';
    src: url('/assets/font/Intro_Bold_Caps-webfont.eot');
    src: url('/assets/font/Intro_Bold_Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/Intro_Bold_Caps-webfont.svg#intro_bold_capsregular') format('svg'),
         url('/assets/font/Intro_Bold_Caps-webfont.woff') format('woff'),
         url('/assets/font/Intro_Bold_Caps-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'intro caps';
    src: url('/assets/font/Intro_Black_Caps-webfont.eot');
    src: url('/assets/font/Intro_Black_Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/Intro_Black_Caps-webfont.svg#intro_black_capsregular') format('svg'),
         url('/assets/font/Intro_Black_Caps-webfont.woff') format('woff'),
         url('/assets/font/Intro_Black_Caps-w febfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
@mixin intro-font {
    font-family: 'intro caps', arial, sans-serif;
    text-transform: uppercase;
}

@include establish-baseline;

body {
    font-family: Georgia, serif;
}

h1,h2,h3,h4,h5,h6,
[class*="fauxh"]{
    @include intro-font;
    font-weight: 700;
}

h1,
.fauxh1 {
    @include adjust-font-size-to(42px);
}
h1:first-child,
.fauxh1:first-child {
}

h2,
.fauxh2 {
    @include adjust-font-size-to(36px);
}

h3,
.fauxh3 {
}

h4,
.fauxh4 {}

h5,
.fauxh5 {}

h6,
.fauxh6 {}

small {@include adjust-font-size-to(9px);}

code,
pre {
    font-family: Monaco, 'Courier New', monospace;
    @include rhythm-borders(1px);
}

sup,
sub {line-height: 0em;}
sup {vertical-align: super;}
sub {vertical-align: sub;}

i,
em {font-style: italic;}

b,
strong {font-weight: bold;}

p {}

blockquote {}

figure {}

figure-caption {}

ol, ul {
    padding-left: 1.8em;
}

li {}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*  LINKS
----------------------------------------------------------------------------------------*/

a {
    color: #3f3f3f;
    text-decoration: none;
    &:hover, &:focus {
        color: #000;
        border-color: #000;
    }

    &:active {
        color: #990000;
    }
}


/*  LAYOUT
----------------------------------------------------------------------------------------*/

$page-width: 700px;

$tabScape: 420px 960px;


/*  STYLING
----------------------------------------------------------------------------------------*/

body {
    background: $background;
    color: $baseblack;
}

.btn {
    font-family: "intro caps";
    @include border-radius(.5em);
    font-weight: 700;
    color: $basewhite;
    background: $accent;
    line-height: 1em;
    padding: .6em .9em .43em;
    text-align: center;
    display: block;
}

a.btn {
    &:hover,
    &:focus {
        background: $baseblack;
    }
}


#header {
    @include intro-font;
    background: $myred;
    color: $basewhite;
    position: relative;

    &.poster {
        position:relative;
        display: table;
        width: 100%;
        overflow: hidden;

        .constrainer {
        
            display: table-cell;
            vertical-align: middle;
            padding: 1em 2% .8em;
            font-size: 1.8em;
            line-height: 1.65em;
            letter-spacing: .1em;
            @include clearfix;            

            a {color: $basewhite;}

            .nameplate {
                font-weight: 900;
                font-size: 1.8em;
                line-height: 1.2em;
                margin: 0 0 .4em;
                padding: 0 0 .2em;
                border-bottom: 8px solid $basewhite;
            }

            .greeting {
                display: block;
                font-size: .6em;
                font-weight: 700;
                line-height: 1.6em;
            }
            
            .group {
                display: table;
                width: 100%;
                @include breakpoint($tabScape) {
                    display: block;
                }
                
            }

            .intro {
                display: table-cell;
                vertical-align: top;
                width: 20em;
                
                @include breakpoint($tabScape) {
                    display: block;
                }

                h1, h2, p {
                    font-size: 1em;
                    line-height: 1em;
                    font-weight: normal;
                    display: inline;
                }

                h1, h2 {
                    font-weight:normal;
                }
    
            }
            
            .cta {
                display: table-cell;
                vertical-align: middle;
                text-align: right;
                
                @include breakpoint($tabScape) {
                    display: block;
                    text-align: center;
                }
                
            }
            
            .btn {
                border: 4px solid $basewhite;
                background: transparent;
                @include border-radius(.5em);
                font-size: 1em;
                display: block;
                float: right;
                font-weight: normal;

                @include breakpoint($tabScape) {
                    display: inline-block;
                    float: none;
                    margin: 1em 2%;
                }

                &:hover,
                &:focus {
                    background: $accent;
                }
            }
        }
    }

    .scroll {
        color: $basewhite;
        font-weight: 900;
        font-size: 2em;
        line-height:.4em;
        position: absolute;
        left: 50%;
        bottom: 1em;
        text-align: center;
        font-family: arial;
        font-weight: bold;
        display: block;
        margin-left: -2em;
        width: 4em;
        padding: 0;
    }
}
body > div {
    padding: 4em 0;
}

body > div > section {
    margin: 0 auto;
    padding: 0 4%;
    max-width: 1024px;
}

#headlines {
    margin: 0 4%;
    border-bottom: 2px solid $myred;
}

#headlines section {
    @include adjust-font-size-to(42px);
    text-align: center;
    max-width: 650px;

    .hashtag {display: block;}

    img {display:none;}

    a {
        font-family: "intro caps";
        font-size: .5em;
        @include border-radius(.5em);
        font-weight: 700;
        color: $basewhite;
        background: $accent;
        padding: .6em .9em .45em;
        
        .symbol {
            vertical-align: .075em;
        }

        &:hover,
        &:focus {
            background: $baseblack;
        }
    }
}

#features section {

}

#specs {
    background: $accent;
    color: $basewhite;
    padding: 2em 0;
    @include clearfix;
    
    section{
        display: -webkit-flex;
        display: flex;
        max-width: 900px;
    }

    h1 {
        text-align: right;
        width: 40%;
        float: left;
        padding-top: .5em;
        // -webkit-flex: 1;
        // flex: 1;
    }

    .group {
        float: right;
        width: 50%;
        border-left: 8px solid $basewhite;
        padding: .5em 0 2% 4%;
        margin-left: 4%;
        // -webkit-flex: 1;
        // flex: 1;
    }

    h2 {
        color: $baseblack;
        @include adjust-font-size-to(16px);
        font-weight: normal;
    }

    ul {
        margin: 0;
        padding: 0;
        text-indent: 0;
        @include clearfix;
        li {
            float:left;
            @extend .btn;
            background: $basewhite;
            color: $baseblack;
            margin: 0 2% 1em 0;
            
            &:last-child {
                margin-right:0;
            }
        }
    }
}


/*  MEDIA QUERIES
----------------------------------------------------------------------------------------*/

/*  Wide Screens  */
@media screen and (min-width: 1300px) {


}

/*  Tablets Portrait  */
@media screen and (max-width: 720px) {

}

/*  Phone Landscape  */
@media screen and (max-width: 35.5em) {


}

/*  Phone Portrait 400px or less  */
@media screen and (max-width: 25em) {


}

@import 'print';