<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <link rel="author" href="/humans.txt" />

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

  <script type="text/javascript" src="/javascripts/vendor/modernizr-2.6.2.dev.js"></script>
</head>
<body>
 
  {% unless page.header == 'poster' %}
  <header id="header" class="mast">
        <div class="nameplate">Scott Stamile</div>
  </header>
  <nav>
    <ul>
      <li><a href="/blog">Blog</a></li>
      <li><a href="mailto:scottstamile@gmail.com">Send Email</a></li>
    </ul>
  </nav>
  {% endunless %}



    {{ content }}

  <footer id="footer">
    <div class="constrainer">
      <p>At the moment, I'm working for an awesome digital marketing agency, Prime Visibility. Still, I'm always open To hear about new opportunities. Shoot me a message If you're interested in chatting about your next project.</p>
      <a class="btn" href="mailto:scottstamile@gmail.com">Send a quick Email</a>
      
      <ul class="social">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>

      <p>These days I feel like <a href="#">LinkedIn</a> is a more popular background check but if you absolutely insist on downloading and printing a resume, here you go.</p>
      <a class="btn" href="#">Download Resume</a>
    </div>
  </footer>

  <!-- REMINDER: remove live.js before live deployment -->
  <!-- <script type="text/javascript" src="/javascripts/vendor/live.js"></script> -->

  <script type="text/javascript" src="/javascripts/vendor/jquery-1.10.2.js"></script>
  <!-- <script type="text/javascript" src="/javascripts/main.js"></script> -->

</body>
</html>