//  IMPORTS
//----------------------------------------------------------------------------------------

@import "base";

//  COLORS
//----------------------------------------------------------------------------------------

$color-red: #b31707;
$color-blue: #9da0aa;
$color-black: #41413e;
$color-white: #eae0db;

$background: $color-white;

$default-text-shadow-color: #961306;
$default-text-shadow-blur: 0px;
$default-text-shadow-v-offset: .06em;
$default-text-shadow-h-offset: .06em;


/*  SELECTION COLORS
----------------------------------------------------------------------------------------*/

$selection-color: $color-black;
$selection-text: invert($selection-color);
::selection {
    background: $selection-color;
    text-shadow: none;
    color: $selection-text;
}
::-moz-selection {
    background: $selection-color;
    text-shadow: none;
    color: $selection-text;
}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgba(131, 131, 131, 0.5);}


/*  TYPOGRAPHY
----------------------------------------------------------------------------------------*/
/* NOTE: Loading svg before ttf for better rendering in chrome for windows */
@font-face {
    font-family: 'intro caps';
    src: url('/fonts/Intro_Regular_Caps-webfont.eot');
    src: url('/fonts/Intro_Regular_Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Intro_Regular_Caps-webfont.svg#intro_regular_capsregular') format('svg'),
         url('/fonts/Intro_Regular_Caps-webfont.woff') format('woff'),
         url('/fonts/Intro_Regular_Caps-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'intro caps';
    src: url('/fonts/Intro_Bold_Caps-webfont.eot');
    src: url('/fonts/Intro_Bold_Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Intro_Bold_Caps-webfont.svg#intro_bold_capsregular') format('svg'),
         url('/fonts/Intro_Bold_Caps-webfont.woff') format('woff'),
         url('/fonts/Intro_Bold_Caps-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'intro caps';
    src: url('/fonts/Intro_Black_Caps-webfont.eot');
    src: url('/fonts/Intro_Black_Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Intro_Black_Caps-webfont.svg#intro_black_capsregular') format('svg'),
         url('/fonts/Intro_Black_Caps-webfont.woff') format('woff'),
         url('/fonts/Intro_Black_Caps-w febfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'icons';
    src:url('/fonts/icons.eot');
    src:url('/fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('/fonts/icons.woff') format('woff'),
        url('/fonts/icons.ttf') format('truetype'),
        url('/fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin intro-font {
    font-family: 'intro caps', arial, sans-serif;
    text-transform: uppercase;
}

// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 25px;

@include establish-baseline;

[data-icon]:before {
    font-family: 'icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@mixin button($radius) {
    font-family: "intro caps";
    @include border-radius($radius);
    font-weight: 700;
    line-height: 2.5em;
    padding: .08em 1.5em 0 1.5em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: Georgia, serif;
}

h1,h2,h3,h4,h5,h6 {
    @include intro-font;
}

h1,{
    @include adjust-font-size-to(32px);
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}


code,
pre {
    font-family: Monaco, 'Courier New', monospace;
}

sup,
sub {line-height: 0em;}
sup {vertical-align: super;}
sub {vertical-align: sub;}

i,
em {font-style: italic;}

b,
strong {font-weight: bold;}

p {}

blockquote {}

figure {}

figure-caption {}

ol, ul {
    padding-left: 1.8em;
}

li {}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}


/*  LINKS
----------------------------------------------------------------------------------------*/

a {
    color: #3f3f3f;
    &:hover, &:focus {
        color: #000;
        border-color: #000;
    }

    &:active {
        color: #990000;
    }
}


/*  LAYOUT
----------------------------------------------------------------------------------------*/

$grids: 3;
$grids: add-grid(6 at 830px);
$gutters: 1/3;
$include-clearfix: true;

* {@include box-sizing('border-box');}

body {
    
}

.poster {
    display: table;
    width: 100%;
}
.container {
    display: table-cell;
    vertical-align: middle;
    padding:1em;
}
.header {
    max-width: 1120px;
    margin:auto;
}

.intro {
    @include breakpoint(830px) {
        @include grid-span(4,1);
    }
}
.cta {
    text-align: center;
    @include breakpoint(830px) {
        @include grid-span(2,5);
        text-align: right;
    }
}

/*  STYLING
----------------------------------------------------------------------------------------*/

body {
    background: $background;
    color: $color-black;
}

.mast {
    @include intro-font;
    background: $color-red;
    color: $color-white;
    a {
        color: $color-white;
        &:hover,
        &:focus {
            color: $color-blue;
        }
    }
    .nameplate {
        @include adjust-font-size-to(28px);
        @include breakpoint(420px) {
        @include adjust-font-size-to(34px);
        }
        font-weight: 900;
        display: block; 
    }
    h1 {
        @include adjust-font-size-to(16px);
        font-weight: normal;
        margin: 0;
    }
    .btn {
        @include button(.5em);
        border: .2em solid $color-white;
        @include adjust-font-size-to(18px);
        padding: .65em 1.5em .6em 1.5em;
        margin-top: 2em;
        @include breakpoint(830px) {margin-top:0;}
        background: transparent;
        &:hover,
        &:focus {
            background: $color-blue;
            color: $color-white;
        }
    }
}


.greeting p {
    font-weight: 700;
    @include adjust-font-size-to(18px);
    & a {text-decoration: none;}
    @include rhythm-borders(4px);
    border-top:none;
    border-right:none;
    border-left:none;
    padding: 0;
}


@import 'print';