//  IMPORTS
//----------------------------------------------------------------------------------------

@import "base";

//  COLORS
//----------------------------------------------------------------------------------------

$color-red: #b31707;
$color-blue: #9da0aa;
$color-black: #41413e;
$color-white: #eae0db;

$background: $color-white;

$default-text-shadow-color: #961306;
$default-text-shadow-blur: 0px;
$default-text-shadow-v-offset: .06em;
$default-text-shadow-h-offset: .06em;


/*  SELECTION COLORS
----------------------------------------------------------------------------------------*/

$selection-color: $color-black;
$selection-text: invert($selection-color);
::selection {
    background: $selection-color;
    text-shadow: none;
    color: $selection-text;
}
::-moz-selection {
    background: $selection-color;
    text-shadow: none;
    color: $selection-text;
}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgba(131, 131, 131, 0.5);}


/*  TYPOGRAPHY
----------------------------------------------------------------------------------------*/
/* NOTE: Loading svg before ttf for better rendering in chrome for windows */
@font-face {
    font-family: 'intro caps';
    src: url('/assets/fonts/Intro_Regular_Caps-webfont.eot');
    src: url('/assets/fonts/Intro_Regular_Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Intro_Regular_Caps-webfont.svg#intro_regular_capsregular') format('svg'),
         url('/assets/fonts/Intro_Regular_Caps-webfont.woff') format('woff'),
         url('/assets/fonts/Intro_Regular_Caps-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'intro caps';
    src: url('/assets/fonts/Intro_Bold_Caps-webfont.eot');
    src: url('/assets/fonts/Intro_Bold_Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Intro_Bold_Caps-webfont.svg#intro_bold_capsregular') format('svg'),
         url('/assets/fonts/Intro_Bold_Caps-webfont.woff') format('woff'),
         url('/assets/fonts/Intro_Bold_Caps-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'intro caps';
    src: url('/assets/fonts/Intro_Black_Caps-webfont.eot');
    src: url('/assets/fonts/Intro_Black_Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Intro_Black_Caps-webfont.svg#intro_black_capsregular') format('svg'),
         url('/assets/fonts/Intro_Black_Caps-webfont.woff') format('woff'),
         url('/assets/fonts/Intro_Black_Caps-w febfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'icons';
    src:url('/assets/fonts/icons.eot');
    src:url('/assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/icons.woff') format('woff'),
        url('/assets/fonts/icons.ttf') format('truetype'),
        url('/assets/fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin intro-font {
    font-family: 'intro caps', arial, sans-serif;
    text-transform: uppercase;
}

// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 25px;

@include establish-baseline;

[data-icon]:before {
    font-family: 'icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@mixin button($radius: 0) {
    @include intro-font;
    font-weight: 700;
    @include border-radius($radius);
    line-height: 2em;
    padding: .08em 1.5em 0 1.5em;
    text-align: center;
    display: block;
    text-decoration: none;
}

body {
    font-family: Georgia, serif;
}

h1,h2,h3,h4,h5,h6 {
    @include intro-font;
}

h1,{
    @include adjust-font-size-to(32px);
}

h2 {@include adjust-font-size-to(23px,1.5);}

h3 {}

h4 {}

h5 {}

h6 {}


code,
pre {
    font-family: Monaco, 'Courier New', monospace;
}

sup,
sub {line-height: 0em;}
sup {vertical-align: super;}
sub {vertical-align: sub;}

i,
em {font-style: italic;}

b,
strong {font-weight: bold;}

p {}

blockquote {}

figure {}

figure-caption {}

ol, ul {
    padding-left: 1.8em;
}

li {}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

img {
    width: 100%;
    height: auto;
}

/*  LINKS
----------------------------------------------------------------------------------------*/

a {
    color: $color-red;
    &:hover, &:focus {
        color: #000;
        border-color: #000;
    }

    &:active {
        color: #990000;
    }
}


/*  LAYOUT
----------------------------------------------------------------------------------------*/

$grids: 4;
$grids: add-grid(8 at 520px);
$grids: add-grid(12 at 960px);
$gutters: 1/2;
$include-clearfix: true;

* {@include box-sizing('border-box');}

.container {
    margin: 1em;
    .inner {
        margin: auto;
        max-width: 1180px;
    }
}

.poster {
    display: table;
    width: 100%;
    .container {
        display: table-cell;
        vertical-align: middle;
        padding:1em;
        margin: 0;
    }
}

.header {
    max-width: 1180px;
    margin:auto;
    @include breakpoint(520px) {
        width: column-span(6,1);
    }
    @include breakpoint(960px) {
        width: column-span(8,1);
    }
}
nav {
    margin: auto;
    margin-top:3em;
    width: 80%;
    @include breakpoint(960px) {
        width: 60%;
    }
    ul {
        @include no-bullets;
        padding-left:0;
        text-align: center;
    }
}

#intro {
    @include clearfix;
    section {
        @include adjust-font-size-to(20px);
        @include breakpoint(520px) {
            @include grid-span(6,1);
            @include adjust-font-size-to(23px);
        }
        @include breakpoint(960px) {
            @include grid-span(8,1);
            @include adjust-font-size-to(28px);
        }
    }
}

#features {
    @include clearfix;
    text-align: center;
    .responsive {
        @include breakpoint(520px) {
            @include grid-span(4,1);
        }
        @include breakpoint(960px) {
            @include grid-span(3,1);
        }
    }
    .maintainable {
        @include breakpoint(520px) {
            @include grid-span(4,5);
        }
        @include breakpoint(960px) {
            @include grid-span(3,4);
        }
    }
    .performance {
        @include breakpoint(520px) {
            @include grid-span(4,1);
            clear: both;
        }
        @include breakpoint(960px) {
            @include grid-span(3,7);
        }
    }
    .organized {
        @include breakpoint(520px) {
            @include grid-span(4,5);
        }
        @include breakpoint(960px) {
            @include grid-span(3,10);
        }
    }
}

/*  STYLING
----------------------------------------------------------------------------------------*/

body {
    background: $background;
    color: $color-black;
}

.mast {
    @include intro-font;
    background: $color-red;
    color: $color-white;
    text-align: center;
    @include adjust-font-size-to(18px);
    a {
        text-decoration: none;
        color: $color-white;
        &:hover,
        &:focus {
            color: $color-blue;
        }
    }
    .nameplate {
        @include adjust-font-size-to(23px);
        @include breakpoint(420px) {
            @include adjust-font-size-to(23px);
        }
        margin:0;
        font-weight: 900;
        display: block; 
    }
    h1 {
        @include adjust-font-size-to(18px);
        font-weight: normal;
        margin: 0;
        display: inline;
    }
    p {
        display: inline;
    }
    .btn {
        @include button(.5em);
        border: .2em solid $color-white;
        background: transparent;
        @include leader(.5);
        @include trailer(.5);
        &:hover,
        &:focus {
            background: $color-blue;
            color: $color-white;
        }
    }
}

@mixin icon($img_main:null,$img_fallback:null) {
    content: "";
    display: block;
    background-color: $color-red;
    @include border-radius(2em);
    width: 4em;
    height: 4em;
    margin:auto;
    @if $img_fallback {background-image: url($img_fallback);}
    @if $img_main {background-image: url($img_main), none;}
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    @include leader(.5);
    @include trailer(.5);
}

#features {
    .responsive {
        h2:before {
            @include icon('/assets/icons/icon_iphone.svg','/assets/icons/icon_iphone.png');
        }
    }
    .maintainable {
         h2:before {
            @include icon('/assets/icons/icon_code.svg','/assets/icons/icon_code.png');
            background-size: 2.2em;
        }
    }
    .performance {
         h2:before {
            @include icon('/assets/icons/icon_speed.svg','/assets/icons/icon_speed.png');
            background-size: 2.2em;
            background-position-y: 1.15em;
        }
    }
    .organized {
        h2:before {
            @include icon('/assets/icons/icon_outline.svg','/assets/icons/icon_outline.png');
            background-size: 2.2em;
        }
    }
}

#specs {
    background: $color-blue;
    color: $color-white;
    padding: 1em 0;
    @include clearfix;
    margin: 0;
    .inner {
        padding:1em;
        max-width: 1212px; // temp fix
    }
    
    // section{
    //     display: -webkit-flex;
    //     display: flex;
    //    max-width: 900px;
    // }

    // h1 {
    //     text-align: right;
    //     width: 40%;
    //     float: left;
    //     padding-top: .5em;
    //     -webkit-flex: 1;
    //     flex: 1;
    // }

    // .group {
    //     float: right;
    //     width: 50%;
    //     border-left: 8px solid $color-white;
    //     padding: .5em 0 2% 4%;
    //     margin-left: 4%;
    //     -webkit-flex: 1;
    //     flex: 1;
    // }

    h2 {
        color: $color-black;
        font-weight: normal;
    }

    ul {
        margin: 0;
        padding: 0;
        text-indent: 0;
        @include clearfix;
        li {
            float:left;
            @include button(.5em);
            background: $color-white;
            color: $color-black;
            margin: 0 2% 1em 0;
            
            &:last-child {
                margin-right:0;
            }
        }
    }
}

#work {
    .crop {
        border: 1px solid #D8D9DF;
        height: 250px;
        overflow: hidden;
    }

    .crop img {
        margin-top: 0px;
    }
    ul {
        padding:0;
        list-style-type: none;
        @include clearfix;
        li {
            padding:0;
            margin: 2em 0;
            &:first-child {
                margin:0;
            }
        }
        li:nth-child(odd) {
            @include breakpoint(520px) {
                @include grid-span(4,1);
                clear:both;
                margin-top:0;
            }
        }
        li:nth-child(even) {
            @include breakpoint(520px) {
            @include grid-span(4,5);
                margin-top:0;
            }
        }
    }
}

#footer {
    background: $color-black;
    color: $color-white;
    margin: 0;
    .inner {
        max-width: 1212px; // temp fix
    }
    footer {
        padding:1em;
    }
    a {
        color: $color-white;
    }
    .btn {
        @include button(.5em);
        background: $color-white;
        color: $color-black;
    }
}

.view-source {
    position: absolute;
    top: .5em;
    right: 1em;
    &:after {
        content: "";
        display: inline-block;
        background-image: url('/assets/icons/icon_github.png');
        background-image: url('/assets/icons/icon_github.svg'), none;
        width: 1.5em;
        height: 1.5em;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 1.5em;
    }
}

@import 'print';